@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
nav ul li{
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather', sans-serif;
}
nav{
    height: 60px;
    width: 100%;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 100px;
    line-height: 60px;
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
}
.logo:hover{
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 60px;
}
nav li{
    display: inline-block;
    line-height: 60px;
    margin-right: 40px;
}
.log{
    background-color: #ffffff;
    padding: 8px;
    color: #4b56cf;
    border-radius: 5px;
    border: 1px solid #4b56cf;
}
.log:hover{
    background-color: #4b56cf;
    color: #ffffff;
    cursor: pointer;
}
.home{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    flex-direction: row;
}
.close{
    position: absolute;
    right: 2px;
    padding:3px 12px;
    background-color: #fff;
    border: 2px;
    cursor:pointer;
    border-radius: 15%;
    font-weight: 600;
    color: #4b56cf;
    top: 15px;
    right: 2%;
}
.left{
    margin-top: -5%;
    font-family: 'Merriweather', sans-serif;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    width: 500px;
    height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #4b56cf; */
    animation: drop-right 4000ms ease 500ms forwards;
}
.left h2{
    font-weight: bold;
    font-size: 3.2em;
    color: #4d4d44;
}
.time{
    color: #4b56cf;
}
.right{
    /* width: 45%; */
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: drop-left 5000ms ease 500ms forwards ;

}
.bluecircle{
    /* position: absolute;
    bottom:0;
    left: 0;
    width: 500px;
    height: 300px;
    border-radius: 50% 50% 0px 0px ;
    background-color: #4b56cf; */
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(-50%, 0%);
    height: 280px;
    width: 600px;
    border-radius: 350px 350px 0 0;
    background-color: #b0cdf682;
}

.right img{
    width: 100%;
}
@keyframes drop-right {
    to {
     opacity: 1;
     transform: translateX(70px);
    }
    from {
     opacity: 0;
     transform: translate(0px);
    }
   }
   @keyframes drop-left {
    to {
     opacity: 1;
     transform: translateX(-30px);
    }
    from {
     opacity: 0;
     transform: translate(0px);
    }
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

.userlogform input{
    border: none;
    border-bottom: 1px solid #4b56cf;
}
.userlogform,.usersignupform{
    padding: 50px 20px;
    width: 26%;
    margin: auto;
    background-color: #4b56cf;
    margin-bottom: 2%;
    border-radius: 15px;
    color: #ffffff;
}
.userlogform,.usersignupform h2{
    text-align: center;
}
.userlogform h2{
    padding: 0;
    margin-bottom: 4%;
}
.userlogform h4{
    font-weight: 300;
    margin: 5% 13%;
}
.usersignupform h2{
    margin-bottom: 5%;
}

.submit{
    padding: 6px 21px;
    width: 50%;
    border: none;
    background-color:rgb(255, 255, 255);
    border-radius: 2px;
    margin-top: 5%;
    cursor: pointer;
    font-weight: 800;
}
.submit:active {
    box-shadow: 0 2px #4d4444;
    transform: translateY(4px);
  }
label{
    transition: 0.2s all;
    cursor: text;
}
.sub{
    text-align: center;
}
.field{
    /* border: 2px solid rgb(231, 230, 230); */
    border: none;
    padding: 11px 17px;
    margin:1% 0%;
    margin-bottom: 5%;
    width: 80%;
    border-radius: 7px;
}
/* .field:focus{
    outline: 1px solid rgb(189, 203, 39);
} */


/* .loginid:active{
    transform: translateY(-33px);
    transition: 0.5s;
    border-color: blue;
} */
.userlogform{
    position: absolute;
    top:20%;
    left:35%;
}
.usersignupform{
    position: absolute;
    top: 17%;
    left: 32%;
    width: 35%;
}

@media screen and (max-width: 1230px){
    body{
        background-color: black;
    }
    .userlogform,.usersignupform{
        width:34%;
    }
}

@media screen and (max-width: 900px){
    body{
        background-color: antiquewhite;
    }
    .userlogform,.usersignupform{
        width: 42%;
    }
}
@media screen and (max-width: 650px){
    body{
        background-color: aquamarine;
    }
    .userlogform,.usersignupform{
        width: 60%;
    }
}
@media screen and (max-width: 480px){
    body{
        background-color: rgb(88, 110, 103);
    }
    .userlogform,.usersignupform{
        width: 70%;
    }
}








